* {
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #847666;
    border-radius: 5px;
}

/* Header */
#header {
    background-color: #443736;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 300px;
    margin: 10px;
    margin-left: 20px;
}

.links {
    margin: 8px 64px;
}
/* **************************************************** */

/* Section 1 */
#top {
    background-color: #443736;
    /* height: 1000px; */
    padding: 100px;
}

.buttons {
    display: flex;
    gap: 16px;
}

#side-img {
    max-width: 700px;
    padding: 0;
    margin: 0;
}
/* **************************************************** */

/* Section 2 */
#contestants {
    background-color: #c8a372;
    padding: 64px;
}

.contestant {
    max-width: 300px;
}
/* **************************************************** */

/* Section 3 */
#disclaimer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9b6f49;
    height: 300px;
}
/* **************************************************** */

/* Section 4 */
#contact-us {
    background-color: #c8a372;
    height: 300px;
}

.contact-us-sub-container {
    background-color: #803826;
    padding: 64px;
    border-radius: 20px;
}
/* **************************************************** */

/* Footer */
#footer {
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 8px 0px;
    background-color: #443736;
    text-align: center;
}
/* **************************************************** */

/* Common attributes */
/* Flex stuff */
.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.flex-left {
    align-self: flex-start;
}

.flex-right {
    align-self: flex-end;
}

.big-gap {
    gap: 256px;
}

.medium-gap {
    gap: 128px;
}

.small-gap {
    gap: 48px;
}
/* **************************************************** */

/* Text */
.centered-text,
.text {
    font-family: "Times New Roman", sans-serif;
    font-size: x-large;
}

.centered-text {
    text-align: center;
}

.section-title, 
.section-title-centered {
    font-size: 50px;
    font-family: "Lucida Handwriting", "Times New Roman", sans-serif;
    margin-bottom: 30px;
}

.section-title-centered {
    text-align: center;
}
/* **************************************************** */

/* Containers */
.sub-container-small {
    max-width: 600px;
}

.sub-container-big {
    max-width: 1200px;
    /* flex-grow: 0; */
}
/* **************************************************** */
/* **************************************************** */